* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* hero */

.hero-section, .footer-section {
  background-color: #1F2937;
}

.hero-section {
  padding: 10px 180px;
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.hero-section ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-section ul li {
  list-style: none;
  color: #E5E7EB;
  cursor: pointer;
}

.hero-main-section-one, .hero-header-logo {
  color: #F9FAf8;
}

.hero-main-section-one h1 {
  font-size: 48px;
  font-weight: bolder;
}

.hero-header-logo {
  font-size: 24px;
  font-weight: bold;
}

.hero-description-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-sign-up-btn {
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 5px 18px;
  border: 0;
  border-radius: 4px;
}

.hero-main {
  display: flex;
  margin-bottom: 150px;
  justify-content: space-between;
  gap: 20px;
}

.hero-main .hero-main-section-one, .hero-main .hero-main-section-two {
  flex: 1;
}

.hero-main-section-one {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

.hero-main-section-two img {
  transform: scaleX(-1);
  object-fit: cover;
  width: 450px;
  height: 260px;
}

/* section one */
.section-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin-bottom: 100px;
}

.section-one-header {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.section-one ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.section-one ul li {
  list-style: none;
  width: 150px;
}

.section-one ul li p {
  text-align: center;
}

.section-one ul li div img {
  border: 2px solid #3882F6;
  border-radius: 4px;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

/* section-two */
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E7EB;
  justify-content: center;
  padding: 100px 180px;
}

.section-two .quote {
  font-size: 36px;
  color: #1F2937;
}

.section-two .quotee {
  text-align: end;
  width: 100%;
  font-weight: bolder;
  font-size: 16px;
}

/* call to action */
.call-to-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 65px 0;
}

.call-to-action {
  background-color: #3882F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 90px;
  border-radius: 4px;
  color: #F9FAf8;
  width: 60%;
}

.call-to-action button {
  background: transparent;
  border: 1.5px solid #F9FAf8;
  border-radius: 4px;
  color: #F9FAf8;
  padding: 3px 20px;
}

.call-to-action-text .header{
  font-weight: bold;
}

.call-to-action .subtext {
  font-size: 10px;
}

/* footer */
.home-page-footer {
  background-color: #1F2937;
  color: #F9FAf8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 30px 0;
}